#####    `Real Estate Price Prediction`

- Took a dataset of Bangalore home prices from kaggle
   [Link](https://www.kaggle.com/datasets/amitabhajoy/bengaluru-house-price-data).

In [1]:
#Importing usefull libraries.
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
#Importing Required Dataset
data = pd.read_csv("/home/sidd/cmi/my work/A_Real_Estate_price_Prediction_Project/bengaluru_house_prices.csv")

In [3]:
#Data Head
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data.shape

(13320, 9)

In [5]:
#Hide Warning
import warnings
warnings.filterwarnings("ignore")

- Checking What we can Drop

In [6]:
data.groupby("availability")["availability"].agg("count")

availability
14-Jul                      1
14-Nov                      1
15-Aug                      1
15-Dec                      1
15-Jun                      1
                        ...
22-Mar                      3
22-May                     10
22-Nov                      2
Immediate Possession       16
Ready To Move           10581
Name: availability, Length: 81, dtype: int64

In [7]:
data.groupby("balcony")["balcony"].agg("count")

balcony
0.0    1029
1.0    4897
2.0    5113
3.0    1672
Name: balcony, dtype: int64

###### `Lets try Some Data Cleanning`

In [8]:
data.groupby("society")["society"].agg("count")

society
3Codeli    2
7 ise P    1
A idse     2
A rtsai    1
ACersd     1
          ..
Zonce E    2
Zostaa     3
i1ncyRe    1
i1odsne    1
i1rtsCo    3
Name: society, Length: 2688, dtype: int64

In [9]:
data.groupby("area_type")["area_type"].agg("count")

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

For making our analysis simple lets drop some column which may less effect our annalysis

In [10]:
data_1 = data.drop(["availability","area_type","balcony","society"],axis=1)

In [11]:
data_1.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

- Checking size column

In [12]:
data_1.isna().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [13]:
data_1 = data_1.dropna(axis=0)

In [14]:
data_1["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

- making a fuction for extract room BHK size

In [15]:
def extract_bhk(x):
    return(int(x.split(" ")[0]))

In [16]:
#check
extract_bhk("2 BHK"),extract_bhk("16 BHK"),extract_bhk("9 Bedroom"),extract_bhk("43 Bedroom")

(2, 16, 9, 43)

In [17]:
data_1["size"] = data_1["size"].apply(lambda x : int( x.split(" ")[0] ))

In [18]:
data_1.head()

                   location  size total_sqft  bath   price
0  Electronic City Phase II     2       1056   2.0   39.07
1          Chikka Tirupathi     4       2600   5.0  120.00
2               Uttarahalli     3       1440   2.0   62.00
3        Lingadheeranahalli     3       1521   3.0   95.00
4                  Kothanur     2       1200   2.0   51.00

In [19]:
data_1.isna().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [20]:
data_1.columns

Index(['location', 'size', 'total_sqft', 'bath', 'price'], dtype='object')

In [21]:
len(data_1["location"].unique())

1304

In [22]:
data_1["bath"].unique()

array([ 2.,  5.,  3.,  4.,  6.,  1.,  9.,  8.,  7., 11., 10., 14., 27.,
       12., 16., 40., 15., 13., 18.])

In [23]:
data_1["bath"] =data_1["bath"].apply(lambda x: int(x))

In [24]:
data_1["bath"].unique()

array([ 2,  5,  3,  4,  6,  1,  9,  8,  7, 11, 10, 14, 27, 12, 16, 40, 15,
       13, 18])

In [25]:
data_1["total_sqft"].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [26]:
len(data_1["total_sqft"].unique())

2067

In [27]:
data_1["price"].unique()

array([ 39.07, 120.  ,  62.  , ...,  40.14, 231.  , 488.  ])

In [28]:
len(data_1["price"].unique())

1955

In [29]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [30]:
data_2 = data_1.copy()

In [31]:
data_2.total_sqft = data_2.total_sqft.apply(convert_sqft_to_num)
data_2 = data_2[data_2.total_sqft.notnull()]

In [32]:
data_2.head()

                   location  size  total_sqft  bath   price
0  Electronic City Phase II     2      1056.0     2   39.07
1          Chikka Tirupathi     4      2600.0     5  120.00
2               Uttarahalli     3      1440.0     2   62.00
3        Lingadheeranahalli     3      1521.0     3   95.00
4                  Kothanur     2      1200.0     2   51.00

In [33]:
data_2.dtypes

location       object
size            int64
total_sqft    float64
bath            int64
price         float64
dtype: object

In [46]:
data_3 = data_2.copy()

In [47]:
data_3 ["Price_Per_Sqft"] = data_3["price"] / data_3["total_sqft"]

In [48]:
data_3.head()

                   location  size  total_sqft  bath   price  Price_Per_Sqft
0  Electronic City Phase II     2      1056.0     2   39.07        0.036998
1          Chikka Tirupathi     4      2600.0     5  120.00        0.046154
2               Uttarahalli     3      1440.0     2   62.00        0.043056
3        Lingadheeranahalli     3      1521.0     3   95.00        0.062459
4                  Kothanur     2      1200.0     2   51.00        0.042500

In [49]:
# Price is in laks so

In [50]:
data_3 ["Price_Per_Sqft"] =data_3 ["Price_Per_Sqft"]*100000

In [51]:
data_3.head()

                   location  size  total_sqft  bath   price  Price_Per_Sqft
0  Electronic City Phase II     2      1056.0     2   39.07     3699.810606
1          Chikka Tirupathi     4      2600.0     5  120.00     4615.384615
2               Uttarahalli     3      1440.0     2   62.00     4305.555556
3        Lingadheeranahalli     3      1521.0     3   95.00     6245.890861
4                  Kothanur     2      1200.0     2   51.00     4250.000000

In [52]:
data_3.isna().sum()

location          0
size              0
total_sqft        0
bath              0
price             0
Price_Per_Sqft    0
dtype: int64

In [56]:
data_3.location = data_3.location.apply(lambda x: x.strip())
location_count = data_3['location'].value_counts(ascending=False)
location_count

location
Whitefield                   533
Sarjapur  Road               392
Electronic City              304
Kanakpura Road               264
Thanisandra                  235
                            ...
Rajanna Layout                 1
Subramanyanagar                1
Lakshmipura Vidyaanyapura      1
Malur Hosur Road               1
Abshot Layout                  1
Name: count, Length: 1287, dtype: int64

In [57]:
location_count_less_than_15 = location_stats[location_count<=15]
location_count_less_than_15

location
Nagavarapalya                15
Kodihalli                    15
Judicial Layout              15
Varthur Road                 15
Benson Town                  15
                             ..
Rajanna Layout                1
Subramanyanagar               1
Lakshmipura Vidyaanyapura     1
Malur Hosur Road              1
Abshot Layout                 1
Name: count, Length: 1107, dtype: int64

##### Dimensionality Reduction

In [60]:
data_3.location = data_3.location.apply(lambda x: 'other' if x in location_count_less_than_15 else x)
len(data_3.location.unique())

181